# Gradle
.gradle/
**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
**/out/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Compiled files
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Temporary files
*.tmp
*.temp